main {
    max-width: 1800px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin: 15px;
}

.text_activities {
    width: 40%;
}

.elements1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.elements2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
@media screen and (max-width: 1023px) {
.elements{display: flex;}
    .elements1,
    .elements2  {
        flex-direction: column;
    }

}
@media screen and (max-width: 639px) {
    .elements{display: flex;
        flex-direction: column
    }
        .elements1,
        .elements2  {
            flex-direction: column;
        }
    }    
.roundphoto {
    margin: 20px;
    width: 200px;
    height: 200px;
}