main {
    max-width: 1800px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin: 15px;
}

.text_activities {
    width: 9em;
}

.team-members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.team_member {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    flex-basis: 30%;
}

@media screen and (max-width: 639px) {

    .team_member {
        display: flex;
        flex-direction: column;
    }
}

.roundphoto {
    margin: 20px;
    width: 200px;
    height: 200px;
}

.mail {
    text-decoration: none;
    color: #004d89;
}