html {
    height: 100%;
    margin: 0 auto;
}

body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#content {
	padding-bottom: 100px;	
}

/* Стили для header */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2vw;
    background-color: #004d89;
    position: relative;
    z-index: 2;
}

.navbar {
    width: 100%;
    padding: 0;
}

.navbar-brand {
    padding: 0.7vw;
}

.navbar-nav {
    margin-right: 0;
    width: 100%;
    justify-content: center;
}

.header_logo {
    width: 6vw;
}

.logo_img {
    width: 100%;
}

.header-nav-item {
    font-size: 1.1vw;
}

.header-nav-item:hover {
    background-color: #f3c044;
    color: #004d89;
    font-weight: 500;

    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.header-nav-link {
    color: white;
    padding: 3vw;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 3vw;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: #004d89;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: rgba(243, 192, 68, 0);
}

.btn-donate {
    width: 14vw;
}

.btn-header {
    padding: 1vw 4vw;
    background-color: #f3c044;
    color: #004d89;
    font-weight: 600;
    margin-right: 2vw;
    font-size: 1.2vw;
    text-transform: uppercase;
}

.btn-primary:hover {
    color:#004d89;
    background-color: rgba(243, 192, 68, 1);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar-light .navbar-toggler {
    color: white
}

.navbar-light .navbar-toggler-icon {
    background-image: url(./images/menu-humburger.svg);
    opacity: 0.9;
}


.container_help {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.col1,
.col2 {
    display: flex;
    flex-direction: column;
}

.help_btn {
    margin: 35px;
    border-radius: 10px;
    border: 1px solid gray;
    width: 25vw;
    height: 15vh;
}

.help_btn:hover {
    cursor: pointer;
}

.container_news {
    display: flex;
    flex-direction: column;


}

h2 {
    text-align: center;
}

.part2 {
    display: flex;
    flex-direction: row;

}

.news_img {
    width: 200px;
    height: 200px;
    margin: 20px;
}

li {
    list-style-type: none;
}

/* Галерея */

.carousel {
    z-index: 1;
}

.container-fluid {
    padding: 0;
}

/* section about*/

.about,
.supporters,
.follow-us,
.actions,
.container_news,
.container_help  {
    margin-top: 10vh;
}

h2,
h3 {
    text-align: center;
}

.about_structure {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.supporters_structure {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
}

.about_layout {
    align-self: center;
}

.supporters_layout {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    align-content: center;
    margin: 30px;
}

.supporters_layout_image {
    align-self: center;
    width: 200px;
    border-radius: 50%;
}

.follow-us_structure {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10vh;
}

.follow-us_layout {
    display: flex;
    margin: 30px;
}

.follow-us_left {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.follow-us_right {
    width: 900px;
}

.follow-us_img {
    width: 50px;
    height: 50px;
    align-self: center;
}

.follow-us_img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

form {
    align-self: center;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}

#mc_embed_signup form {
    display: contents;
}

@media all and (max-width: 1023px) {
    .supporters_structure {
        display: flex;
        flex-direction: column;
    }
}

@media all and (max-width: 639px) {
    .follow-us_structure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .follow-us_left {
        display: flex;
        justify-content: flex-end;
    }

    .follow-us_right {
        display: flex;
        justify-content: center;
    }
}

main {
    max-width: 1800px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin: 15px;
}

.text_activities {
    width: 40%;
}

.elements1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.elements2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

@media screen and (max-width: 1023px) {
    .elements {
        display: flex;
    }

    .elements1,
    .elements2 {
        flex-direction: column;
    }
}

@media screen and (max-width: 639px) {
    .elements {
        display: flex;
        flex-direction: column
    }

    .elements1,
    .elements2 {
        flex-direction: column;
    }
}

.roundphoto {
    margin: 20px;
    width: 200px;
    height: 200px;
}

/* Стили для footer */

footer {
    font-size: 1vw;
    background-image: url(./images/wave.png);
    background-size: cover;
    background-position: right bottom;
    padding: 2vw 2vw 7vw 2vw;
}

.footer {
    display: flex;
    justify-content: space-between;
    height: max-content;
    padding: 0 3vw;
}

.btn-secondary {
    background-color: rgba(0, 0, 0, 0);
    color: #004d89;
    border: none;
    margin-bottom: 1vw;
}

.btn-secondary:hover {
    background-color: #f3c044;
    border: none;
    color: #004d89;
}

.footer_contacts {
    width: 15vw;
}

.contacts_social {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.social_youtube, .social_instagram, .social_facebook {
    width: 2vw;
}

.social_img {
    width: 100%;
}

.contacts_href {
    margin-top: 2vw;
}

.href {
    text-decoration: none;
    color: black;
    margin: 0;
}

.footer_props {
    width: 50vw;
    display: flex;
}

.props_association, .props_payment, .props_account {
    padding-right: 2vw;
}

.footer_logo {
    left: 90%;
    position: absolute;
    margin-top: 10vw;
    margin-left: -33px;
}

.logo_flogo {
    width: 4vw;
    margin: 0 0 0 1.7vw;
}

.logo_text {
    font-size: 0.9vw;
    margin-top: 0.4vw;
}

.flogo_fimg {
    width: 100%;
}