main {
    max-width: 1800px;
    margin: 0 auto;
    margin: auto;
}

h2 {
    text-align: center;
    margin: 15px;
}

.text_activities {
    width: 40%;
}
    .elements123 {
    display: flex;
}
.elements456{
    display: flex;}

.elements1,
    .elements2,
    .elements3,
    .elements4,
    .elements5,
    .elements6{ width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;}

@media screen and (max-width: 1023px) {
    .elements123 { display: flex;
        flex-wrap: wrap;
    }
    .elements456{
    display: flex;
    flex-wrap: wrap;
}

    .elements1,
    .elements2,
    .elements3,
    .elements4,
    .elements5,
    .elements6 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }
}

@media screen and (max-width: 639px) {
    .elements {
        display: flex;
        flex-direction: column
    }

    .elements1,
    .elements2,
    .elements3,
    .elements4,
    .elements5,
    .elements6 {
        flex-direction: column;
    }
}

.roundphoto {
    margin: 20px;
    width: 200px;
    height: 200px;
}
.mail{
text-decoration:none;
color: #004d89 ;
}